h1 {
  text-align: justify; 
  hyphens: auto; 
  -webkit-hyphens: auto; 
  word-spacing: -0.1em;
  font-size: 2.0rem;
}

.btn-toolbar .btn {
  font-size: 0.7rem;
}

.contact-widget .fa-li {
    top: 0.04; /*285714em; /* Default FA value. */
}
